.App {
  text-align: center;
}


.btn-group {
padding: 4%;
margin: 2%;
display: flex;

}

.main-card--cointainer {
  margin: 2%;
  padding: 2%;

  display: grid;
  grid-template-columns: repeat(4, minmax(300px,300px));
  grid-gap: 70px;
  justify-content: space-around;

}

.card{
  transform: scale(1);
  transition: transfrom 0.9s ease;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
  
  transform: scale(1.1);
}


.card-img-top{
  max-width: 100%;
  height: 190px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


